@use '../variables' as v;
@use '../mixins' as mx;

.pink-line {
  height: 0.6rem;
  background-color: v.$pinkColorMain;
}

.footer {
  background-color: v.$darkLight;
  .footer-body {
    @include mx.flex-align-center;
    justify-content: center;
    padding: 1rem 0;
  }
  .logo-container {
    .footer-logo-container {
      @include mx.screen-max(768px) {
        display: none;
      }
    }
  }
  .footer-copyright {
    h2 {
      @include mx.font-nunito($size: 1.9rem, $color: #fff);
    }
  }
}
