@use '../mixins' as mx;

.search-bar {
  padding: 2rem 0;
  .form-container {
    display: flex;
    justify-content: flex-end;
    .search-form {
      @include mx.flex-align-center($gap: 1rem);
      .description {
        h3 {
          @include mx.font-roboto($size: 2rem, $color: #888);
        }
      }
      .input-data {
        @include mx.flex-align-center($gap: 0);
        background-color: #ececec;
        border-radius: 1rem;
        overflow: hidden;
        input {
          border: none;
          background-color: #ececec;
          padding: 1rem;
          &:focus-visible {
            border: none;
            outline: none;
          }
        }
        .lupe {
          font-size: 2rem;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .input-data {
    input {
      width: 85%;
    }
    .lupe {
      width: 15%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .search-form,
  .input-data {
    width: 100%;
  }
  .input-data {
    input {
      width: 90%;
    }
    .lupe {
      width: 10%;
    }
  }
  .search-form {
    .description {
      display: none;
    }
  }
}
