.pink-line {
  height: 0.6rem;
  background-color: var(--pink-color-main);
}

.footer {
  background-color: var(--dark-light);
  color: #fff;
}

.footer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

.footer-logo-container .img-white-line {
  filter: invert(80%);
}

.footer-copyright h2 {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 1.9rem;
  margin: 0;
}

@media only screen and (max-width: 767.98px) {
  .footer-logo-container {
    display: none;
  }
}
