:root {
  --ff-main: 'Roboto';
  --ff-secondary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --pink-color-main: #c23f81;
  --dark-light: #313131;
  --dark-light-2: #74667E;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-main);
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  margin: 0;
}
