.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.8rem;
}

.logo {
  display: flex;
  align-items: baseline;
  position: relative;
  padding-right: 0.6rem;
}

.btn-login {
  background-color: var(--pink-color-main);
  text-transform: uppercase;
  border-radius: 0.8rem;
  color: #fff;
  padding: 1.2rem 2rem;
  font-weight: 500;
  outline: none;
  border: none;
}

.hamburger {
  width: 4rem;
  height: 3.6rem;
  background-color: var(--pink-color-main);
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
}

.hamburger span {
  height: 0.2rem;
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
}

.hamburger span:nth-child(2) {
  width: 70%;
}

@media only screen and (max-width: 767px) {
  .login {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
