@use 'variables' as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: v.$fontMain;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}
